<div class="container">
  <div class="row">
    <div class="col-md-8 pull-left members-header">UX Society Members</div>
  </div>
  <div class="row">
    <input type="text" class="members-search form-control col-md-12 pull-left" placeholder="Search..." ng-model="search">
  </div>

  <span ng-if="main.processing" class="spinner"><span class="glyphicon glyphicon-repeat"></span></span>

  <div class="row" ng-show="main.members.length">
    <div class="col-md-8 col-sm-8">
      <table class="table table-hover members-table">
        <tr>
          <th>Name</th>
          <th>Occupation</th>
          <th>Company</th>
        </tr>
        <tr ng-repeat="member in main.members | filter:search" ng-click="main.rowClick(member.id)">
          <td>{{member.firstName}} {{member.surname}}</td>
          <td>{{member.occupation}}</td>
          <td>{{member.company}}</td>
        </tr>
      </table>
    </div>

    <div class="col-md-4 col-sm-4 member-info-box well well-lg" ng-show="main.selectedMember">
      <p class="name">{{main.selectedMember.firstName}} {{main.selectedMember.surname}}</p>
      <img ng-src="{{main.selectedMember.portrait}}">
      <p>Location: {{main.selectedMember.latitude}}, {{main.selectedMember.longitude}}</p>
      <p>{{main.selectedMember.email}}</p>
      <p>{{main.selectedMember.motto}}</p>
    </div>
  </div>
</div>
