.members-header {
  font-size: 48px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.members-search {
  width: 99%;
  margin-left: 15px;
}

.members-table {
  margin-top: 25px;
}

.member-info-box {
  margin-top: 25px;
  height: 300px;

  .name {
    font-size: 24px;
  }

  img {
    max-width: 150px;
    min-width: 100px;
    margin-bottom: 10px;
  }
}

.spinner {
  position: relative;
  top: 20px;
  font-size: 24px;

  animation: spin 1s infinite;
  -webkit-animation: spin 1s infinite;
  -moz-animation: spin 1s infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
